/*index*/
@use "mixins";


.card-new:hover{
margin-top: 10px; 


.card-body-index:hover{
    border: 2px solid orangered;
    border-radius: 5%;
    transform: translate(0px ,-10px);    
    box-shadow: 15px 15px rgba(0, 0, 0, 0.719);
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.836);
                .card-title{
                            color: rgb(231, 165, 21);
                            }
                }                   
}





/*----------*/