*{
    /* background-color: aquamarine; */
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    color: rgb(242, 179, 43);
}

/*header*/
#header .tittle .parragraph {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

#body{
    background-size: cover;
    background-position: center;
    background-image: url(../images/Background.jpg);
}

#main{
    height: 80vh;
}

#section-content{
    gap: 5px;
}

#footer ul li a{
    color: rgb(242, 179, 43);
}
/*-------------*/